
Sample data/.DS_Store
Notebooks/.DS_Store
Notebooks/.ipynb_checkpoints/Doing things with text 4 keywords-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Doing things with text 5 tf-idf-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Doing things with text 6 part-of-speech-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Doing things with text 7 word2vec-checkpoint.ipynb
.DS_Store
